%table
  - unless no_header
    %thead
      %tr
        %th.canvas_legend_sub Linke Maustaste
        %th.canvas_legend_sub Mittlere Maustaste
        %th.canvas_legend_sub Rechte Maustaste
  %tbody
    - unless no_icon
      %tr
        %td.canvas_legend_sub= image_tag('mouse_left.png', size: '50x50')
        %td.canvas_legend_sub= image_tag('mouse_middle.png', size: '50x50')
        %td.canvas_legend_sub= image_tag('mouse_right.png', size: '50x50')
    %tr
      %td.canvas_legend_sub= left_text
      %td.canvas_legend_sub= middle_text
      %td.canvas_legend_sub= right_text
    %tr
      %td.canvas_legend_sub{ style: "background-color: #{left_color}" }
      %td.canvas_legend_sub{ style: "background-color: #{middle_color}" }
      %td.canvas_legend_sub{ style: "background-color: #{right_color}" }
